<% if team_participations.blank? %>
  <p><%= t("team.index.none") %></p>
<% else %>
  <table class="teams table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>%</th>
      </tr>
    </thead>

    <% team_participations.each_with_index do |participation, index| %>
      <%= content_tag_for :tr, participation.team do %>
        <td><%= index + 1 %></td>
        <td><%= link_to participation.team.name.truncate(38), participation.team %></td>
        <td><%= participation.participation_percent %></td>
      <% end %>
    <% end %>
  </table>
<% end %>
