<% if team_participations.blank? %>
  <p><%= t("team.index.none") %></p>
<% else %>
  <table class="rankings table table-striped">
    <% team_participations.each_with_index do |participation, index| %>
      <%= content_tag_for :tr, participation.team do %>
        <td><div class="rank"><%= index + 1 %></div></td>
        <td>
          <h4><%= link_to participation.team.name, participation.team %></h4>
        </td>
        <td><%= participation.participation_percent %>%</td>
      <% end %>
    <% end %>
  </table>
<% end %>
