<% title t("team.index.action") %>
<h1><%= t("team.index.action") %></h1>

<% if @teams.blank? %>
  <p><%= t("team.index.none") %></p>
<% end %>

<% if can? :create, Team %>
  <%= link_to t("team.add.action"), new_team_path, class: "btn" %>
<% end %>

<ul class="teams">
  <% @teams.each do |team| %>
    <%= content_tag_for :li, team do %>
      <%= link_to team.name, team %>
    <% end %>
  <% end %>
</ul>