<%= title @team.name %>

<%= content_tag_for :div, @team do %>
  <h1><%= @team.name %></h1>

  <p>
    <%# user a presenter for this %>
    Created by: <%= mail_to @team.captain.email, @team.captain.username %>
  </p>
  <p>
    Business Size: <%= @team.business_size %>
  </p>
  <%= simple_format @team.description %>

  <% if can? :join, @team %>
    <%= simple_form_for [@team, @membership] do |f| %>
      <%= f.submit t("team.join.action"), class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if can? :manage, @team %>
    <%= link_to t("team.edit.action"), edit_team_path(@team), class: "btn" %>
    <%= link_to t("team.delete.action"), delete_team_path(@team), class: "btn" %>
  <% end %>

  <ul class="memberships">
    <% @team.memberships.each do |membership| %>
      <%= content_tag_for :li, membership do %>
        <%= membership.user.username %>
        (<%= membership.user.email %>)

        <% if can? :manage, @team %>
          <% if membership.approved? %>
            <%= link_to t("membership.delete.action"), delete_team_membership_path(@team, membership) %>
          <% else %>
            <%= simple_form_for [@team, membership], html: { class: "form-inline" } do |f| %>
              <%= f.input :approved, as: :hidden, input_html: { value: true } %>
              <%= f.submit I18n.t("team.join.approve_action"), class: "btn btn-mini" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <div>
    <% unless @team.competitors.empty? %>
      <h3>Current Competition</h3>
      <% @team.competitors.each do |competitor| %>
      <ul>
        <%= content_tag_for :li, competitor do %>
          <%= competitor.competition.title%>
          <% if can? :manage, competitor %>
            <%= link_to t("competitor.delete.action"), delete_competition_competitor_path(competitor.competition, competitor) %>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    <% end %>

    <% unless @team.available_competitions.empty? %>
      <h3>Join a Competition</h3>
      <% @team.available_competitions.each do |competition|%>
      <ul>
        <%= content_tag_for :li, competition do %>
          <%= competition.title%>
          <% if can? :manage, @team %>
            <%= simple_form_for [competition, Competitor.new], html: { class: "form-inline" } do |f| %>
              <%= f.input :team_id, as: :hidden, input_html: { value: @team.id } %>
              <%= f.submit I18n.t("competition.join.action"), class: "btn btn-mini" %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    <% end %>
  </div>
<% end %>
