<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Business Size:</b>
  <%= @team.business_size%>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>

<p>
  <b>Captain</b>
  <%= mail_to @team.captain.email, @team.captain.name %>
</p>

<p>
  <b>Competitions</b>
  <ul>
  <% @team.competitions.each do |competition| %>
    <li><%= link_to competition.name, competition %>
  <% end %>
  </ul>
</p>

<% if can? :update, Team %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>

<% if can? :join, Team %>
  <% if current_user.member? @team %>
    <td><%= link_to 'Leave', leave_team_path(@team), confirm: 'Are you sure you want to leave this team?'%></td>
  <% else %>
    <td><%= link_to 'Join', join_team_path(@team), confirm: 'Are you sure you want to join this team?'%></td>
  <% end %>
<% end %>

<%= link_to 'Back', teams_path %>
