<h1><%= @team.name %></h1>
<h3>5th place</h3><br />

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span8'>
      <p>
        <b>Business Size: </b>
        <%= @team.business_size%>
      </p>

      <p>
        <b>Description: </b>
        <%= @team.description %>
      </p>

      <p>
        <b>Captain: </b>
        <%= mail_to @team.captain.email, @team.captain.name %>
      </p>      
      
      <p>
        <b>Riders:</b>
        <ul>
          <%= render @team.approved_team_users %> 
        </ul>
      <p>
        
      <% if can? :approve, @team %>
      <p>
        <b>Riders needing approval: </b>
        <ul>
          <%= render  @team.not_approved_team_users %> 
        </ul>
      </p>
      <% end %>
        
      <% if can? :update, @team %>
        <%= link_to 'Edit', edit_team_path(@team) %> 
      <% end %>
      
      <% if can? :leave, @team %>
        <%= link_to 'Leave this team', leave_team_path(@team), confirm: 'Are you sure you want to leave this team?'%>
      <% end %>
      
      <% if can? :join, @team %>
        <%= link_to 'Join this team', join_team_path(@team), confirm: 'Are you sure you want to join this team?'%>
      <% end %>
    </div>
    
    <div class='span4'>
      <p>
        <b>Top Riders</b>
        <ul>
          <li><%= link_to 'Fake Rider', '#' %></li>
          <li><%= link_to 'Another Fake Rider', '#' %></li>
        </ul>
      </p>
    </div>
  </div>
</div>

