<%= title @team.name %>

<%= content_tag_for :div, @team do %>
  <h1><%= @team.name %></h1>

  <p>
    <%# user a presenter for this %>
    Created by: <%= mail_to @team.captain.email, @team.captain.username %>
  </p>

  <%= simple_format @team.description %>

  <% if can? :join, @team %>
    <%= simple_form_for [@team, @membership] do |f| %>
      <%= f.submit t("team.join.action"), class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if can? :manage, @team %>
    <%= link_to "Edit", edit_team_path(@team), class: "btn" %>
    <%= link_to "Delete", delete_team_path(@team), class: "btn" %>
  <% end %>

  <ul class="memberships">
    <% @team.memberships.each do |membership| %>
      <%= content_tag_for :li, membership do %>
        <%= membership.user.username %>
        (<%= membership.user.email %>)

        <% if can? :manage, @team %>
          <% if membership.approved? %>
            <%= link_to t("membership.delete.action"), delete_team_membership_path(@team, membership) %>
          <% else %>
            <%= simple_form_for [@team, membership], html: { class: "form-inline" } do |f| %>
              <%= f.input :approved, as: :hidden, input_html: { value: true } %>
              <%= f.submit I18n.t("team.join.approve_action"), class: "btn btn-mini" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
