<%= simple_form_for [@competition, @bracket] do |f| %>
  <div class="row">
    <div class="span6"><%= f.input :name %></div>
  </div>

  <div class="row">
    <div class="span4"><%= f.input :lower_limit %></div>
    <div class="span4"><%= f.input :upper_limit %></div>
  </div>

  <div class="actions pull-right">
    <%= f.button :submit, t("bracket.submit") , class: "btn btn-success" %>
    <%= link_to "Cancel", :back, class: "btn" %>
  </div>
<% end %>