<div class ="row">
  <div class="span8">
    <h1><%= t("dashboard.greeting") %>, <%= current_user.username %></h1>
    <% if current_membership %>
      <span class="lead">
        <%= link_to current_membership.team.name, current_membership.team %>
      </span>
    <% end %>
  </div>
  <div class="span4">
    <% unless current_membership %>
      <%= link_to t("dashboard.user.no_team"), teams_path, class: "btn btn-orange pull-right" %>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>

<div class="dashboard">
  <div class="row stats">
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.user.commutes") %></div>
      <div class="number"><%= @member_commutes || "--" %></div>
    </div>

    <div class="span2">
      <div class="stat-header"><%= t("dashboard.user.participation") %></div>
      <div class="number positive">
        <% if current_user.active_membership %>
          <%= content_tag :span, title: "#{@member_commutes} logged trips out of #{@team_member_possible_commutes} possible trips" do %>
            <%= number_to_percentage @member_participation, strip_insignificant_zeros: true, precision: 1 %>
          <% end %>
        <% else %>
          --
        <% end %>
      </div>
    </div>

    <div class="span2">
      <div class="stat-header"><%= t("dashboard.user.mileage") %></div>
      <div class="number"><%= @personal_mileage %></div>
    </div>

    <div class="span2">
      <div class="stat-header"><%= t("dashboard.team.commutes") %></div>
      <div class="number positive">
        <% if current_user.active_membership %>
          <%= @team_commutes %>
        <% else %>
          --
        <% end %>
      </div>
    </div>

    <div class="span2">
      <div class="stat-header"><%= t("dashboard.team.participation") %></div>
      <div class="number positive">
        <% if current_user.active_membership %>
          <%= content_tag :span, title: "#{@team_commutes} logged trips out of #{@team_possible_commutes} possible trips" do %>
            <%= number_to_percentage @team_participation, strip_insignificant_zeros: true, precision: 1 %>
          <% end %>
        <% else %>
          --
        <% end %>
      </div>
    </div>

    <div class="span2">
      <div class="stat-header"><%= t("dashboard.team.position") %></div>
      <div class="number positive">--</div>
    </div>
  </div>

  <div class="row rides">
    <div class="span3 form">
      <h3><%= t("ride.add.action") %></h3>
      <%= render "rides/form" %>
    </div>

    <div class="span9 rides-list">
      <% if @rides.blank? %>
        <p><%= t("ride.index.none") %></p>
      <% else %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Commute Date</th>
              <th>Commute Distance</th>
              <th>Commute Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <% @rides.each do |ride| %>
            <%= content_tag_for :tr, ride do %>
              <td><%= link_to ride.date.strftime("%b #{ride.date.day.ordinalize}"), ride %></td>
              <td><%= ride.total_distance %></td>
              <td><%= ride.trip_type %></td>
              <td><%= ride.description.truncate(80) %></td>
            <% end %>
          <% end %>
        </table>
        <%= link_to "More Rides...", current_user, class: "pull-right btn" %>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>

</div>
