<h1><%= t("dashboard.greeting") %>, <%= current_user.username %></h1>

<div class="dashboard">
  <div class="row stats">
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.user.mileage") %></div>
      <div class="number"><%= current_user.total_distance %></div>
    </div>
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.user.commutes") %></div>
      <div class="number"><%= current_user.rides.count %></div>
    </div>
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.user.position") %></div>
      <div class="number positive">--</div>
    </div>
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.team.participation") %></div>
      <div class="number positive">
        <% if current_user.teams.any? %>
          <%= current_user.teams.first.participation_percent %> %
        <% else %>
          --
        <% end %>
      </div>
    </div>
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.team.commutes") %></div>
      <div class="number positive">
        <% if current_user.teams.any? %>
          <%= current_user.teams.first.team_rides %>
        <% else %>
          --
        <% end %>
      </div>
    </div>
    <div class="span2">
      <div class="stat-header"><%= t("dashboard.team.position") %></div>
      <div class="number positive">--</div>
    </div>
  </div>

  <div class="row rides">
    <div class="span3 form">
      <h3><%= t("ride.add.action") %></h3>
      <%= render "rides/form" %>
    </div>

    <div class="span9 rides-list">
      <% if @rides.blank? %>
        <p><%= t("ride.index.none") %></p>
      <% else %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Ride Date</th>
              <th>Ride Distance</th>
              <th>Description</th>
            </tr>
          </thead>
          <% @rides.each do |ride| %>
            <%= content_tag_for :tr, ride do %>
              <td><%= link_to ride.date.strftime("%b #{ride.date.day.ordinalize}"), ride %></td>
              <td><%= ride.total_distance %></td>
              <td><%= ride.description.truncate(80) %></td>
            <% end %>
          <% end %>
        </table>
        <a class="pull-right btn" href="rides">More Rides...</a>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>

</div>
