<h1>Hey There, <%= current_user.username %></h1>

<div class="dashboard">
  <div class="row stats">
    <div class="span2">
      <h2>Your Mileage</h2>
      <div class="number"><%= current_user.rides.sum(:distance) %></div>
    </div>
    <div class="span2">
      <h2>Your Rides</h2>
      <div class="number"><%= current_user.rides.count %></div>
    </div>
    <div class="span2">
      <h2>Your Position</h2>
      <div class="number positive">--</div>
    </div>
    <div class="span2">
      <h2>Teams Mileage</h2>
      <div class="number positive">
        <% if current_user.teams.exists %>
          <%= current_user.teams.first.rides.sum(:distance) %>
        <% else %>
          --
        <% end %>
      </div>
    </div>
    <div class="span2">
      <h2>Teams Rides</h2>
      <div class="number positive">
        <% if current_user.teams.exists %>
          <%= current_user.teams.first.rides.count %>
        <% else %>
          --
        <% end %>
      </div>
    </div>
    <div class="span2">
      <h2>Teams Position</h2>
      <div class="number positive">--</div>
    </div>
  </div>

  <div class="row rides">
    <div class="span3 form">
      <h3>Log A Ride</h3>
      <%= render "rides/form" %>
    </div>

    <% rides = current_user.rides.first(8) %>
    <% if rides.blank? %>
      <div class="span9 table">
        <p><%= t("ride.index.none") %></p>
      </div>
    <% else %>
      <table class="span9 table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Ride Date</th>
            <th>Ride Distance</th>
          </tr>
        </thead>
        <% rides.each do |ride| %>
          <%= content_tag_for :tr, ride do %>
            <td><%= link_to ride.date.strftime("%b #{ride.date.day.ordinalize}"), ride %></td>
            <td><%= ride.distance%></td>
          <% end %>
        <% end %>
      </table>
    <% end %>

  </div>

</div>