<% if member_participations.blank? %>
  <p><%= t("user.index.none") %></p>
<% else %>
  <table class="teams table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Team</th>
        <th>%</th>
      </tr>
    </thead>
    <% member_participations.each_with_index do |participation, index| %>
      <%= content_tag_for :tr, participation.member do %>
        <td><%= index + 1 %></td>
        <td><%= link_to truncate(participation.member.username, :separator=>'...', :length=>20), participation.member %></td>
        <td><%= link_to truncate(participation.team.name, :separator=>'...', :length=>20), participation.team %></td>
        <td><%= participation.participation_percent %></td>
      <% end %>
    <% end %>
  </table>
<% end %>
