<% if member_participations.blank? %>
  <p><%= t("user.index.none") %></p>
<% else %>
  <table class="rankings table table-striped">
    <% member_participations.each_with_index do |participation, index| %>
      <%= content_tag_for :tr, participation.member do %>
        <td><div class="rank"><%= index + 1 %></div></td>
        <td>
          <h4><%= link_to participation.member.username, participation.member %></h4>
          <h6><%= link_to participation.team.name, participation.team %><h6>
        </td>
        <td><%= participation.participation_percent %>%</td>
      <% end %>
    <% end %>
  </table>
<% end %>
