<%= twitter_bootstrap_form_for @competition do |f| %>
 <%= f.inputs 'Competition', :class => 'does_not_exist' do %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, :title, :class => 'does_not_exist' %>
  <%= f.date_select :start, :start, {}, :class => 'does_not_exist' %>
  <%= f.date_select :end, :end, {}, :class => 'does_not_exist' %>
  <%= f.text_area :description %>
 <% end %>
 <%= f.actions do %>
  <%= f.submit 'Submit' %>
  <%= button_tag  'Cancel', :type => 'reset', :class => 'does_not_exist' %>
  
 <% end %>
<% end %>