<div class="row top-buffer">
  <div class="tabbable">
    <ul class="nav nav-pills nav-stacked span2">
      <% @competition.brackets.each.with_index do |bracket, index| %>
        <li <%= "class=active" if index==0 %>><a href="#<%= index %>" data-toggle="tab"><%= bracket.name %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">      
      <% @competition.brackets.each.with_index do |bracket, index| %>
        <div class="tab-pane <%= 'active' if index==0%>" id='<%= index %>'>
          <div class="span5 instructions">
            <h3><%= t("competition.leaderboard.teams") %></h3>
            <%= render "teams/ranking", :teams=>bracket.teams_by_participation %>
          </div>
          <div class="span5 instructions">
            <h3><%= t("competition.leaderboard.riders") %></h3>
            <%= render "memberships/ranking", :memberships=>bracket.memberships_by_participation %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>