<% title t("competition.index.action")%>

<h1><%= t("competition.index.action") %></h1>

<% if @competitions.blank? %>
  <p><%= t("competition.index.none") %></p>
<% end %>

<% if can? :create, Competition %>
  <%= link_to t("competition.add.action"), new_competition_path, class: "btn" %>
<% end %>

<ul class="competitions">
  <% @competitions.each do |competition| %>
    <%= content_tag_for :li, competition do %>
      <%= link_to competition.title, competition %>
    <% end %>
  <% end %>
</ul>
