<h1>Competitions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitions.each do |competition| %>
  <tr>
    <td><%= competition.name %></td>
    <td><%= competition.description %></td>
    <td><%= competition.start_date %></td>
    <td><%= competition.end_date %></td>
    <td><%= competition.contact.name %></td>
    <td><%= link_to 'Show', competition %></td>
    
    <% if can? :join, Competition %>
      <% if current_user.joined? competition %>
      <td><%= link_to 'Leave', delete_competition_competitions_teams_path(competition) %></td>
      <% end %>
      <% if current_user.has_unjoined_team? competition %>
      <td><%= link_to 'Join', new_competition_competitions_team_path(competition) %></td>
      <% end %>
    <% end %>
      
    <% if can? :update, Competition %>
    <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <% end %>
    
    <% if can? :destroy, Competition %>
    <td><%= link_to 'Destroy', competition, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Competition %>
<%= link_to 'New Competition', new_competition_path %>
<% end %>
