<%= title @competition.title %>

<%= content_tag_for :div, @competition do %>
  <h1><%= @competition.title %></h1>

  <p>
    Starts: <%= @competition.start_on %>
    Ends: <%= @competition.end_on %>
  </p>

  <p>
    <%# user a presenter for this %>
    Created by: <%= mail_to @competition.owner.email, @competition.owner.username %>
  </p>

  <%= simple_format @competition.description %>

  <% if @competition.brackets.any? %>
  <p>
    <h2>Categories</h2>
    <ul>
      <%= render @competition.brackets %>
    </ul>
  </p>
  <% end %>

  <% if can? :manage, @competition %>
    <%= link_to t("competition.edit.action"), edit_competition_path(@competition), class: "btn" %>
    <%= link_to t("competition.delete.action"), delete_competition_path(@competition), class: "btn" %>
  <% end %>

  <ul class="competitors">
    <% @competition.competitors.each do |competitor| %>
      <%= content_tag_for :li, competitor do %>
        <%= competitor.team.name %>
        (<%= competitor.team.business_size %>)

        <% if can? :manage, @competition %>
          <% if competitor.approved? %>
            <%= link_to t("competitor.delete.action"), delete_competition_competitor_path(@competition, competitor) %>
          <% else %>
            <%= simple_form_for [@competition, competitor], html: { class: "form-inline" } do |f| %>
              <%= f.input :approved, as: :hidden, input_html: { value: true } %>
              <%= f.submit I18n.t("competition.join.approve_action"), class: "btn btn-mini" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
