<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>

<p>
  <b>Description:</b>
  <%= @competition.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @competition.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @competition.end_date %>
</p>

<p>
  <b>Contact</b>
  <%= mail_to @competition.contact.email, @competition.contact.name %>
</p>

<p>
  <b>Business Sizes</b>
  <ul>
  <%= render @competition.business_sizes %>
  </ul>
</p>

<% if can? :create, BusinessSize %>
  <p>
    <h6>Add Business Size</h6>
  
    <%= render 'business_sizes/form'%>
  </p>
<% end %>

<% if can? :manage, Competition %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
<%= link_to 'Back', competitions_path %>
