<h1><%= @competition.name %></h1><br />

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span9'>
      <p>
        It runs from <%= pretty_date @competition.start_date %> to <%= pretty_date @competition.end_date %>.
      </p>

      <%= markdown @competition.description %>

      <p>
        <b>Contact</b>
        <%= mail_to @competition.contact.email, @competition.contact.name %>
      </p>
      
      <% if can? :manage, @competition %>
        <%= link_to 'Edit', edit_competition_path(@competition) %> |
      <% end %>
    </div>
  
    <div class='span3'>
      <p>
        <b>Who's Participating</b>
        <% @competition.business_sizes.each do |size| %>
        <div>
          <p>Team size <%= size.lower_bound %> to <%= size.upper_bound || "&#8734;".html_safe %></p>
          <ul>
          <% size.teams.each do |team| %>
            <li><%= link_to team.name, team %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      </p>      
    </div>
  </div>
  
  <div class='row-fluid'>
    <div class='span4 offset6'>
      <% if can? :create, BusinessSize %>
      <p>
        <h6>Add Business Size</h6>

        <%= render 'business_sizes/form'%>
      </p>
    
      <% end %>
  </div>
  </div>
</div>
