<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @competition.title %>
</p>

<p>
  <b>Start:</b>
  <%= @competition.start %>
</p>

<p>
  <b>End:</b>
  <%= @competition.end %>
</p>

<p>
  <b>Description:</b>
  <%= @competition.description %>
</p>


<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
