<%= title @competition.title %>

<%= content_tag_for :div, @competition do %>
  <div class="pull-right">
    <% if can? :edit, @competition %>
      <%= link_to t("competition.edit.action"), edit_competition_path(@competition), class: "btn header-btn" %>
    <% end %>
    <% if can? :delete, @competition %>
      <%= link_to t("competition.delete.action"), delete_competition_path(@competition), class: "btn header-btn" %>
    <% end %>
  </div>
  <div class="row">
    <div class="span12">
      <h1><%= @competition.title %></h1>
      <h4><%= @competition.start_on.strftime("%m/%d/%Y") %> - <%= @competition.end_on.strftime("%m/%d/%Y") %></h4>
    </div>
  </div>

  <% if @competition.start_on > Calendar.today %>
    <div class="row">
      <div class="span12">
        <%= t "competition.status.unstarted" %>

        <% unless current_membership %>
          <%= link_to "Create a team", new_team_path %>
          , or join one below.
        <% end %>
      </div>
    </div>

    <%= render "teams/table", teams: @teams %>
  <% elsif @brackets.present? %>
    <%= render "leaderboard", brackets: @brackets %>
  <% end %>

  <div class="row">
    <div class="span12">
      <%= link_to "Browse past competitions", competitions_path, class: "btn" %>
    </div>
  </div>
<% end %>
