<%= title @competition.title %>

<%= content_tag_for :div, @competition do %>
  <div class="pull-right">
    <% if can? :edit, @competition %>
      <%= link_to t("competition.edit.action"), edit_competition_path(@competition), class: "btn header-btn" %>
    <% end %>
    <% if can? :delete, @competition %>
      <%= link_to t("competition.delete.action"), delete_competition_path(@competition), class: "btn header-btn" %>
    <% end %>
  </div>
  <div class="row">
    <div class="span12"><h1><%= @competition.title %></h1></div>
  </div>
  <div class="row">
    <div class="span2">Start: <%= @competition.start_on %></div>
    <div class="span2">Finish: <%= @competition.end_on %></div>
  </div>

  <% if @brackets.present? %>
    <%= render "leaderboard", brackets: @brackets %>
  <% end %>
<% end %>
