<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>

<p>
  <b>Description:</b>
  <%= @competition.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @competition.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @competition.end_date %>
</p>

<p>
  <b>Contact</b>
  <%= mail_to @competition.contact.email, @competition.contact.name %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
