<% if riders.blank? %>
  <p><%= t("user.index.none") %></p>
<% else %>
  <table class="teams table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Team</th>
        <th>%</th>
      </tr>
    </thead>
    <% riders.each_with_index do |rider, index| %>
      <%= content_tag_for :tr, rider do %>
        <td><%= index + 1 %></td>
        <td><%= link_to truncate(rider.username, :separator=>'...', :length=>20), rider %></td>
        <td><%= link_to truncate(rider.teams.first.name, :separator=>'...', :length=>20), rider.teams.first %></td>
        <td><%= rider.participation_percent %></td>
      <% end %>
    <% end %>
  </table>
<% end %>