<div class="row">  
  <div class="span4 countdown">
    <% if current_competition.present? %>
      <% if current_competition.active? %>
        <h1><%= (current_competition.end_on - Calendar.today).to_i + 1 %></h1>
        <h2>Days Left</h2>
      <% else %>
        <h2><%= t "help.competition_ended" %></h2>
        Browse the <%= link_to "final standings", current_competition %>.
      <% end %>
    <% end %>
  </div> 

  <div class="span4 instructions">
      <h3><%= t("help.start.rider.title") %></h3>
      <ol>
        <li><%= link_to t("help.start.rider.one"), new_user_registration_path %></li>
        <li><%= link_to t("help.start.rider.two"), teams_path %></li>
        <li><%= link_to t("help.start.rider.three"),  new_ride_path %></li>
      </ol>
  </div>
  <div class="span4 instructions">
      <h3><%= t("help.start.captain.title") %></h3>
      <ol>
        <li><%= link_to t("help.start.captain.one"), new_user_registration_path %></li>
        <li><%= link_to t("help.start.captain.two"), new_team_path %></li>
        <li><%= t("help.start.captain.three") %></li>
      </ol>
  </div>
</div>
