<div class="row">  
  <div class="span4 countdown">
    <h1><%= (Date.new(2013, 10, 16) - Date.today).to_i %></h1>
    <h2>Days Left</h2>
  </div> 

  <div class="span4 instructions">
      <h3>All Riders</h3>
      <ol>
        <li><%= link_to "Create a user account.", new_user_registration_path %></li>
        <li><%= link_to "Join a team.", teams_path %></li>
        <li><%= link_to "Log rides!",  new_ride_path %></li>
      </ol>
  </div>
  <div class="span4 instructions">
      <h3>Team Captains</h3>
      <ol>
        <li><%= link_to "Create a user account.", new_user_registration_path %></li>
        <li><%= link_to "Create a team", new_team_path %></li>
        <li>Approve your teams riders.</li>
      </ol>
  </div>
</div>