<% title "Sponsors" %>

<div class="row">
  <div class="span12">
    <h1 class="welcome">Sponsors</h1>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 rules">
    <h3>2014 Sponsors</h3>

    <ul>
      <li><%= link_to "American Institute of Architects ", "http://www.aiaalaska.org/" %></li>
      <li><%= link_to "Blue Sky Studio", "http://www.callbluesky.com/" %></li>
      <li><%= link_to "Resource Data, Inc", "http://www.resdat.com" %></li>
      <li><%= link_to "Spenard Roadhouse", "http://www.spenardroadhouse.com/" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 rules">
    <h3>2013 Sponsors</h3>

    <ul>
      <li><%= link_to "American Institute of Architects ", "http://www.aiaalaska.org/" %></li>
      <li><%= link_to "Blue Sky Studio", "http://www.callbluesky.com/" %></li>
      <li><%= link_to "City Diner", "http://citydineranchorage.com/" %></li>
      <li><%= link_to "Fire Island Rustic Bakery", "http://fireislandbread.com/" %></li>
      <li><%= link_to "Great Harvest Bread Co.", "http://greatharvestanchorage.com/" %></li>
      <li><%= link_to "Midnight Sun Brewing Co.", "http://midnightsunbrewing.com/" %></li>
      <li><%= link_to "REI", "http://www.rei.com/stores/anchorage.html" %></li>
      <li><%= link_to "Resource Data, Inc", "http://www.resdat.com" %></li>
      <li><%= link_to "Spenard Roadhouse", "http://www.spenardroadhouse.com/" %></li>
      <li><%= link_to "Steamdot", "https://www.steamdot.com/" %></li>
      <li><%= link_to "The Alaska Club", "http://www.thealaskaclub.com/" %></li>
      <li><%= link_to "The Alaska Railroad", "http://alaskarailroad.com/" %></li>
      <li><%= link_to "The Bear Tooth", "http://beartooththeatre.net/" %> and <%= link_to "Moose’s Tooth", "http://moosestooth.net/" %></li>
      <li><%= link_to "The Bicycle Shop", "http://www.bikeshopak.com/" %></li>
    </ul>
  </div>
</div>
