<%= form_for([@competition, @competition.business_sizes.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lower_bound %><br />
    <%= f.number_field :lower_bound %>
  </div>
  <div class="field">
    <%= f.label :upper_bound %><br />
    <%= f.number_field :upper_bound %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
