<h1>Business Sizes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lower bound</th>
    <th>Upper bound</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @business_sizes.each do |business_size| %>
  <tr>
    <td><%= business_size.name %></td>
    <td><%= business_size.lower_bound %></td>
    <td><%= business_size.upper_bound %></td>
    <td><%= link_to 'Show', business_size %></td>
    <td><%= link_to 'Edit', edit_business_size_path(business_size) %></td>
    <td><%= link_to 'Destroy', business_size, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business size', new_business_size_path %>
