<%= form_for(@ride, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = 'control-group'>
    <%= f.label :name, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class = 'control-group'>
    <%= f.label :date, :class => 'control-label' %>
    <div class='controls'>
      <%= f.date_select :date %>
    </div>
  </div>
  
  <div class = 'control-group'>    
    <%= f.label :distance, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :distance %>
    </div>
  </div>
            
  <div class="">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
  </fieldset>
<% end %>
