<%= simple_form_for @ride, builder: EmbeddedFormBuilder do |f| %>
  <%= f.input :date, as: :datepicker %>
  <%= f.input :bike_distance %>
  <%= f.input :bus_distance %>
  <%= f.input :walk_distance %>
  <%= f.input :description, input_html: { rows: 2 } %>

  <%= f.button_group :work_trip do %>
    <%= f.toggle_button t("ride.options.work_trip"), true %>
    <%= f.toggle_button t("ride.options.personal_trip"), false %>
  <% end %>

  <%= f.button_group :is_round_trip do %>
    <%= f.toggle_button t("ride.options.round"), true %>
    <%= f.toggle_button t("ride.options.one"), false %>
  <% end %>

  <%= f.button :button, t("ride.submit"), class: "btn-orange pull-right" %>
  <div class="clearfix"></div>
<% end %>
