<%= form_for @ride, :url => { :action => "create", :controller => "rides" }, :method => "post" do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date, class: "datepicker" %>
  <%= f.label :distance %>
  <%= f.number_field :distance %>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 2 %>

  <%= f.hidden_field :is_round_trip %>
  <div id="is_round_trip" class="btn-group" data-toggle="buttons-radio">
    <button type="button" class="btn active" data-value="true">Round Trip</button>
    <button type="button" class="btn" data-value="false">One Way</button>
  </div>

  <button type="submit" class="btn btn-orange pull-right">Submit</button>

  <div class="clearfix"></div>
<% end %>

<script type="text/javascript">
  $("#is_round_trip button").click(function(){
    $("#ride_is_round_trip").val($(this).data("value"));
  });
</script>
