<h1>All Rides</h1>

<table class='table table-striped'> <!-- table-condensed table-striped table-bordered -->
  <tr>
    <th><%= sortable "user_id", "Rider" %></th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "date" %></th>
    <th><%= sortable "distance" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rides.each do |ride| %>
  <tr>
    <td><%= link_to(ride.user.name, user_path(ride.user)) %></td>
    <td><%= ride.name %></td>
    <td><%= ride.date %></td>
    <td><%= ride.distance %></td>
    <td><%= link_to 'Show', ride %></td>
    
    <% if can? :update, ride %>
    <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
    <% else %>
    <td></td>
    <% end %>
    
    <% if can? :destroy, ride %>
    <td><%= link_to 'Destroy', ride, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
