<% title t("ride.index.action") %>
<h1><%= t("ride.index.action") %></h1>

<% if @rides.blank? %>
  <p><%= t("ride.index.none") %></p>
<% end %>

<% if can? :create, Ride %>
  <%= link_to t("ride.add.action"), new_ride_path, class: "btn" %>
<% end %>

<ul class="rides">
  <% @rides.each do |ride| %>
    <%= content_tag_for :li, ride do %>
      <%= link_to "#{ride.date} #{ride.rider.username} #{ride.distance}", ride %>
    <% end %>
  <% end %>
</ul>