<% title t("ride.index.action") %>

<div class="row">
  <div class="span8">
    <h1><%= t("ride.index.action") %></h1>
  </div>
  <div class="span4">
    <% if can? :create, Ride %>
      <%= link_to t("ride.add.action"), new_ride_path, class: "btn btn-orange pull-right" %>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>

<% if @rides.blank? %>
  <p><%= t("ride.index.none") %></p>
<% else %>
  <table class="rides table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Rider</th>
        <th>Distance</th>
        <th>Total Miles</th>
        <th>Total Trips</th>
      </tr>
    </thead>
    <% @rides.each do |ride| %>
      <%= content_tag_for :tr, ride do %>
        <td><%= link_to ride.date.strftime("%b #{ride.date.day.ordinalize}"), ride %></td>
        <td><%= ride.rider.username %></td>
        <td><%= ride.distance%></td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
      <% end %>
    <% end %>
  </table>
<% end %>