<%= title @ride.date %>

<%= content_tag_for :div, @ride do %>
  <h1><%= @ride.date %></h1>
  <div class="row">
    <div class="span4 ride-info">      
      <p>
        <%# use a presenter for this %>
        Created by: <%= link_to @ride.rider.username, @ride.rider %>
      </p>

      <p><%= @ride.work_trip? ? t("ride.options.work_trip") : t("ride.options.personal_trip") %></p>

      <p><%= @ride.is_round_trip ? t("ride.options.round") : t("ride.options.one") %></p>

      <% if @ride.bike_distance? %>
        <p>Bike: <%= @ride.bike_distance %></p>
      <% end %>

      <% if @ride.bus_distance? %>
        <p>Bus: <%= @ride.bus_distance %></p>
      <% end %>

      <% if @ride.walk_distance? %>
        <p>Walk: <%= @ride.walk_distance %></p>
      <% end %>

      <p><strong>Total:</strong> <%= @ride.total_distance %></p>
      <%= simple_format @ride.description %>

      <% if can? :manage, @ride %>
        <%= link_to t("ride.edit.action"), edit_ride_path(@ride), class: "btn" %>
        <%= link_to t("ride.delete.action"), delete_ride_path(@ride), class: "btn" %>
      <% end %>

    </div>
  </div>
<% end %>
