<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ride.user.name%>
</p>

<p>
  <b>Name:</b>
  <%= @ride.name %>
</p>

<p>
  <b>Date:</b>
  <%= @ride.date %>
</p>

<p>
  <b>Distance:</b>
  <%= @ride.distance %>
</p>

<% if can? :manage, @ride %>
<%= link_to 'Edit', edit_ride_path(@ride) %> |
<% end %>
<%= link_to 'Back', rides_path %>
