<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-chevron-down icon-white"></span>
      </a>

      <%= link_to "Commuter Challenge", root_path, class: "brand" %>

      <div class="nav-collapse collapse">

        <ul id="main-menu" class="nav">
          <% if Competition.count > 0 %>
            <li class="<%= 'active' if params[:controller] == 'competitions' %>"><%= link_to "Leaderboard", competition_path(current_competition) %></li>
          <% end %>
          <li class="<%= 'active' if params[:controller] == 'teams' %>"><%= link_to "Teams", teams_path %></li>
        </ul>

        <%= render "layouts/user_session" %>
      </div>
    </div>
  </div>
</div>
