<%= link_to "Bike Challenge", root_path, :class => 'brand' %>
<ul class="nav nav-pills">
  <li>
   <%= link_to 'Competition', competition_path(1) %>
   </li>
  <li>
  <%= link_to 'Teams', teams_path %>
  </li> 
  <li class='dropdown' id="what">
  <a  href='<%= rides_path %>'>
    Rides
    <b class='caret'></b>
  </a>
  <ul class='dropdown-menu'>
    <li><%= link_to 'Log a ride', new_ride_path%></li>
  </ul>
  </li>
</ul>
<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
