<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :title %>
      <%= yield :title %> |
    <% end %>
    Bike Commute Challenge
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

  <%= render "layouts/header" %>

  <!--[if lt IE 9]>
    <div class="ie-buffer"></div>
    <%= render "layouts/warning" %>
  <![endif]-->   

  <div class="container main">
    <%= render "layouts/alerts", messages: flash %>
    <%= yield %>
  </div>

  <div class="footer">
    <%= t("sponsor.message_html") %>
  </div>
</body>
</html>
