<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :title %>
      <%= yield :title %> |
    <% end %>
    BikeCommuteChallenge
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>

  <div class="container-fluid">
    <%= render "layouts/alerts", messages: flash %>
    <%= yield %>
  </div>

  <div class="navbar navbar-fixed-bottom footer">
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
